* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
}

header {
  background-color: #333;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.logoButton {
  background-color: #333;
  color: white;
  border: none;
}

main {
  display: flex;
  flex-direction: column;
  padding: 4rem 4rem;
}

.text-area {
  border: 2px solid #e6e6e6;
  border-radius: 10px;
  width: 100%;
  height: 20vh;
  padding: 1rem;
  margin: 1rem 0;
  color: #868686;
  font-size: 1rem;
}

h1 {
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
  font-size: 2rem;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button {
  background-color: #333;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #555;
}

h2 {
  margin-top: 4rem;
  color: #333;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
}

#imagens {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  justify-content: center;
  gap: 2rem;
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

#imagens img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border-radius: 1rem;
}

#imagens button {
  background-color: transparent;
  border: none;
  transition: transform 0.3s ease;
  cursor: pointer;
  box-shadow: #dadada 0px 0px 10px;
}

#imagens button:hover {
  transform: scale(1.05);
}
