<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Receptor</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="../static/js/script.js" defer></script>
</head>

<body>
  <header>
    <button id="home" class="logoButton">
      <img src="../static/images/site/podcasts_40dp_FFFFFF_FILL0_wght400_GRAD0_opsz40.svg" alt="" class="logo">
    </button>
    <button id="menu" class="logoButton">
      <img src="../static/images/site/menu_40dp_FFFFFF_FILL0_wght400_GRAD0_opsz40.svg" alt="">
    </button>
  </header>

  <main id="main">
    <h1>Receptor</h1>

    <!-- Botão para receber os dados -->
    <div id="receber-dados">
      <button onclick="receberDados()">Receber Dados</button>
    </div>

    <!-- Área para exibir os bits destacados e corrigidos -->
    <div id="erro-container">
      <h3>Bits Recebidos com Erros Destacados:</h3>
      <div id="fluxo-destacado" class="text-area" style="white-space: pre-wrap; font-family: monospace;"></div>

      <h3>Bits Corrigidos:</h3>
      <div id="fluxo-corrigido" class="text-area" style="white-space: pre-wrap; font-family: monospace;"></div>
    </div>

    <h2>Tratamento de Erro Usado</h2>
    <div id="container2">
      <button onclick="selectElement(this)">
        <p>Codigo de Hamming</p>
      </button>
      <button onclick="selectElement(this)">
        <p>CRC</p>
      </button>
      <button onclick="selectElement(this)">
        <p>Bit Paridade Par</p>
      </button>
      <button onclick="selectElement(this)">
        <p>Contagem de Caracteres</p>
      </button>
    </div>

    <h2>Quadro Recebido</h2>
    <div>
      <img src="../static/images/quadro/Quadro.png" alt="">
    </div>
  </main>
</body>

</html>
