<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="../static/js/script.js" defer></script>
</head>

<body>
  <header>
    <button id="home" class="logoButton">
      <img src="../static/images/site/podcasts_40dp_FFFFFF_FILL0_wght400_GRAD0_opsz40.svg" alt="" class="logo">
    </button>
    <button id="menu" class="logoButton">
      <img src="../static/images/site/menu_40dp_FFFFFF_FILL0_wght400_GRAD0_opsz40.svg" alt="">
    </button>
  </header>

  <main id="main">
    <h1 class="coluna1">Trasmissor</h1>

    <div class="container1">
      <textarea name="entrada" id="entrada" placeholder="Digite seu texto aqui" class="text-area"></textarea>
      <textarea name="resultado" id="resultado" placeholder="resultado" class="text-area" readonly></textarea>
    </div>

    <button class="button" onclick={atualizatexto()}>Gerar Ondas</button>

    <section id="container2">
      <div id="imagens">
        <button onclick={select(this)}>
          <img>
        </button>
        <button onclick={select(this)}>
          <img>
        </button>
        <button onclick={select(this)}>
          <img>
        </button>
        <button onclick={select(this)}>
          <img>
        </button>
        <button onclick={select(this)}>
          <img>
        </button>
        <button onclick={select(this)}>
          <img>
        </button>

      </div>
    </section>

    <section id="container3">
      <h2>Selecione o erro que voce deseja acresentar ao envio</h2>
      <div class="input">
        <label for="erro">Erro:</label>
        <input type="text" id="erro" placeholder="Digite a porcentagem de erro">
      </div>
    </section>

    <div id="container4">
      <h2 id="sinal-a-enviar">Enviar</h2>
      <button onclick="enviarImagem()">
        Enviar
      </button>
    </div>

  </main>
</body>

</html>