<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="../static/js/script.js" defer></script>
</head>

<body>
  <header>
    <button id="home" class="logoButton">
      <img src="../static/images/site/podcasts_40dp_FFFFFF_FILL0_wght400_GRAD0_opsz40.svg" alt="" class="logo">
    </button>
    <button id="menu" class="logoButton">
      <img src="../static/images/site/menu_40dp_FFFFFF_FILL0_wght400_GRAD0_opsz40.svg" alt="">
    </button>
  </header>

  <main id="main">
    <h1 class="coluna1">Trasmissor</h1>

    <div class="container1">
      <textarea name="entrada" id="entrada" placeholder="Digite seu texto aqui" class="text-area"></textarea>
      <div id="resultado" class="text-area">
        <p>Resultado</p>
      </div>
    </div>

    <button class="button">Gerar Ondas</button>

    <h2>Selecione uma das imagens para enviar</h2>

    <section id="imagens">
      <button id="sinal-ask" onclick={select(this)}><img src="../static/images/analogico/Sinal ASK.png" alt="sinal ask">
      </button>
      <button id="sinal-fsk" onclick={select(this)}>
        <img src="../static/images/analogico/Sinal FSK.png" alt="sinal ask">
      </button>
      <button id="sinal-psk" onclick={select(this)}>
        <img src="../static/images/analogico/Sinal PSK.png" alt="sinal ask">
      </button>
      <button id="sinal-bipolar" onclick={select(this)}>
        <img src="../static/images/digital/Sinal Bipolar.png" alt="sinal ask">
      </button>
      <button id="sinal-manchester" onclick={select(this)}>
        <img src="../static/images/digital/Sinal Manchester.png" alt="sinal ask">
      </button>
      <button id="sinal-nrz" onclick={select(this)}>
        <img src="../static/images/digital/Sinal NRZ.png" alt="sinal ask">
      </button>
    </section>
  </main>
</body>

</html>